

*{
         
    background-color :#fad7d7;
    font-size : 20px
}




.grid{ 
    display: flex; 
    flex-wrap: wrap;
     justify-content: space-evenly; 
    }
    .header{
        background-color: cadetblue; 
        display: flex; 
        justify-content: space-between;
    }
    .footer{ 
        display: flex; 
        justify-content: flex-end; 
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .margin {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 100px;
        margin-left: 100px;
      }

      a:link {
        color: blue;
      }
      a:visited {
        color: green;
      }
      a:hover {
        color: red;
      }
      a:active {
        color: yellow;
      }      
   